#screen{
    width:9999px;
    height:9999px;
    left:0px;
    animation: 8s carousel infinite;
}
#screen img{
    text-align:center;
    float:left;
    bottom:150px;
}
#tv{
    width: 640px;
    height: 430px;
    overflow:hidden;
}
#notice{
    width: 50%;
    height: 70%;
    position: absolute;
    right:0%;
    top: 8%;
}

@keyframes carousel{
    0%{}
    25%{transform:translateX(0px)}
    30%{transform:translateX(0px)}
    50%{transform:translateX(-640px)}
    55%{transform:translateX(-640px)}
    75%{transform:translateX(-1280px)}
    80%{transform:translateX(-1280px)}
    100%{transform:translateX(-1920px)}
}